/*
#4B6584;
#2C3A47;
#B2BEC3;
*/

* {
    font-family: Verdana;
    text-transform: capitalize;
    margin: auto;
    max-width: 900px;
}

body {
    background: #4B6584;
    color: #090a0a;
}

a {
    text-decoration: line-through;
    color: #2C3A47;
}

#titulo,
#subtitulo,
#titulo_post {
    color: #FF4433 !important;
}

#titulo_post {
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
}


/*
Margin
    Border
        Padding
            Content
*/

.post {
    background: #B2BEC3;
    padding: 10px;
    border: 3px solid #000000;
    margin: 10px;
}

.rodape {
    background: #B2BE9F;
    padding: 10px;
    border: 3px solid #FF0000;
    margin: 10px;
    border-radius: 3px;
}

ul {
    list-style-type: "\1F44D";
}

li a {
    text-decoration: none;
}

ol {
    list-style-type: upper-roman;
}